<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="thinkabout	.css">
    <link rel="stylesheet" type="text/css"
        href="C:\Users\amina\Desktop\Muhazib Work\style\fontawesome\fontawesome-free-5.15.2-web\css\all.css">
	
</head>
<style type="text/css">
	.img1{
	    height: 5.5em;
    width: 7em;
    margin-left: 16%;
    margin-top: 3%;
}
</style>
<body>
	<nav class="navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"data-toggle="collapse"data-target="#menu">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="#"><img src="logo/logo.png" class="img1"> </a>
			</div>
			<div class="collapse navbar-collapse" id="menu">
				<ul style="margin-top: 1%;" class="nav navbar-nav navbar-right"> 
				
					<li><a href="file:///C:/Users/amina/Desktop/Muhazib%20Work/think.html">Home</a></li>
					<li><a href="file:///C:/Users/amina/Desktop/Muhazib%20Work/thinkabout.html">About Us</a></li>
					<li><a href="file:///C:/Users/amina/Desktop/Muhazib%20Work/servicess.html">Services</a></li>
					<li><a href="file:///C:/Users/amina/Desktop/Muhazib%20Work/thinkcontect.html#">Contect Us</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container-fluide">
		<img src="style/pexels-fauxels-3183197-1-scaled.jpg" class="web1">
		<h3 id="HAVE"></h3>
		<h1 id="Contact"><b>About Us</b></h1>
		<a href="file:///C:/Users/amina/Desktop/Muhazib%20Work/thinkcontect.html"><button id="Touch">Get In Touch</button></a>
		
	</div>



<div class="container-fluide">
	<div class="content">
	<h2 id="VISION"><b>OUR VISION</b></h2>
	<h2 id="strive">strive for the quality</h2>
	<div>
	<p id="leading">“To be the leading full stack digital marketing agency that<br> creates a platform for small and large businesses/enterprises to<br> find digital solutions to build a competitive online presence,<br> brand image and strengthen their relationship with their target<br> audience.”</p>
	</div>
	</div>
</div>


<div class="main-content">

	<div class="col-md-6 left">
		<div class="col"> 
			<h2 id="THINK"><b>THINK DIFFERENT</b></h2>
			<h2 id="Mission"><b>Our Mission</b></h2>
			<p id="become">“To become the go-to full stack digital agency<br> offering various online solutions like Facebook<br> advertisement, SEO, SEM, promotional activities,<br> business consultancy and product photography/<br>
			videography for small and growing<br>businesses.”</p>
		</div>
	</div>

	<div class="col-md-6 right">
		<img src="style/pexels-pixabay-256219-scaled.jpg" id="img">
	</div>


	<div class="col-md-6 left">
		<img src="style/pexels-fauxels-3183197-1-scaled.jpg" id="imgg">
	</div>

	<div class="col-md-6 right">
		<div class="coll"> 
			<h2 id="THINK"><b>INVENTORS, CREATORS AND STORYTELLERS</b></h2>
			<h2 id="Mission"><b>Who We Are?</b></h2>
			<p id="become">We “TH!NK-ERS” are inventors, creators and<br> storytellers. The gurus of digital marketing who love<br> creating work that’s provocative that ignites meaning<br> and surprises people positively. Inside our walls,<br> we’ve blended a passionate team of technical,<br> creative and experienced experts with tech-savvy<br> skills up their sleeves.</p>
			<button id="Story">See Our Story</button>
		</div>

	</div>


	<div class="col-md-6">
		<div class="RISE">
			<h2 id="THINK"><b>THINK, CREATE, RISE AND SHINE</b></h2>
			<h2 id="Mission"><b>What We Are?</b></h2>
			<p id="become">TH!NK is an all-in-one creative and online marketing<br> agency that generates high value leads, automates<br> build, bid, and ad placement for high performing<br> campaigns, manages paid search, social, video,<br> display, and organic search campigns whle<br> reducing marketing costs .</p>
		</div>
	</div>

	<div class="col-md-6 right">
		<img src="style/pexels-pixabay-256219-scaled.jpg" id="immg">
	</div>

	<div class="Enough">
		<div>
		<h1 id="Talk">Enough Talk, Let's<br> Build Something<br> Together</h1>
	</div> 
	<button id="bbttn">----<b> Contect Us</b></button>
	</div>
	</div>

<div>

	<footer>
		<div class="div2nd">
      <div class="lastdiv">
             	<div id="lstdiv">
             		<p id="bout">About US</p>
             		<p id="Agency">Think Digital Agency  is a Full-</p> 
             		<p id="Agency">Service Digital Marketing Agency</p>
             		<p id="Agency"> based in United States of America</p>
             		<p id="Agency"> that brings an out of the box,</p>
             		<p id="Agency"> innovative, result oriented approach </p>
             	    <p id="Agency"> developing digital footprints.</p>

             	</div>


             	<div id="lstdivv">
             		<p id="boutv">Quick Links</p>
             		<li id="Agencyv">Home</li><br><br>  
             		<li id="Agencyv">About Us</li> <br><br>
             		<li id="Agencyv">Blog & News</li><br><br>
             		<li id="Agencyv">Contact Us</li> <br>
             		
             	</div>


             	<div id="lstdivx">
             		<p id="boutx">Get In Touch</p>
             		<p id="Agencyx">Address:101 Merritt 7 Corporate</p> 
             		<p id="Agencyx">Park Suite 300Norwalk CT 06851,</p>
             		<p id="Agencyx"> United States of America</p>
             		<p id="Agencyx">1st floor, 16 CC, DHA Phase 4</p>
             		<p id="Agencyx"> Lahore Punjab, Pakistan </p>
             	    <p id="Agencyx"> Email: info@thinkitbig.net</p>
             	    <p id="Agencyx">Phone: +92 333 4052545</p>

             	</div>


             	
             	<div>

             	<div id="lstdivxx">
             		<p id="boutcc">Looking For Something</p>
             		<input type="search" name="search" class="fafafafa" placeholder="Search..." >
             		<hr id="hhr">
             	</div>
             	<hr id="hrhr">
             	<p id="nkitBig">© 2021 Th!nkitBig.</p>

             	<div class="twitter">
             		<i class="fab fa-twitter"></i>
             	</div>
             	<div class="facebook">
             		<i class="fab fa-facebook-f"></i>
             	</div>
             	<div class="plus">
             		<i class="fab fa-google-plus-g"></i>
             	</div>

            </div>
        </div>
    </div>
            </footer>
	
        </div>

	
	
</body>
</html>